extends layout

block content
    div.form-style-1
      form(method="post", action="/save_file", enctype="multipart/form-data")
        textarea(id='fileContent', name="fileContent", style="display:none;")
        fieldset
            label(for="") Edit file:
            input(type="text", readonly, value="#{(settings.fileToEdit === 0) ? settings.typeLatticeFile : ((settings.fileToEdit === 1) ? settings.lexiconFile: settings.grammarFile)}")
        br
        input(type='submit', name='save_file', value='Save', onclick="setTextAreaValue()")
        input(type='submit', name='save_file', value='Cancel')
        br
        div#editor
    script(type='text/javascript' src='/javascript/ACE/src-noconflict/ace.js')
    script.
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/text");
      var text;
      switch (!{settings.fileToEdit}) {
        case 0:
          text = !{JSON.stringify(settings.typeLatticeText)};
          break;
        case 1:
          text = !{JSON.stringify(settings.lexiconText)};
          break;
        case 2:
          text = !{JSON.stringify(settings.grammarText)};
          break;
        default:
          text = '';
      }
      editor.setValue(text, 0);

      function setTextAreaValue() {
        var textarea = document.getElementById('fileContent');
        //textarea.hide();
        textarea.value = editor.getSession().getValue();
      }
