extends layout

block content
    div.form-style-1
        form( method="post", action="/parse_sentence")
          h2 Parse sentence
          fieldset
            ul
              li
                label Input sentence:
                input(type="text", name="inputSentence", width="300px")
              li
                select(id="parsingAlgorithm", name="parsingAlgorithm")
                  option(value="noChoice", selected=settings.parsingAlgorithm === '') Choose an algorithm
                  option(value="CYK", selected=settings.parsingAlgorithm === 'CYK') CYK
                  option(value="Earley", selected=settings.parsingAlgorithm === 'Earley') Earley
                  option(value="LeftCorner", selected=settings.parsingAlgorithm === 'LeftCorner') Left-Corner
                  option(value="HeadCorner", selected=settings.parsingAlgorithm === 'HeadCorner') Head-Corner
              li
                label
                  input(type="checkbox", name="applyAppropriateFunction", checked=settings.applyAppropriateFunction)
                  = " Apply appropriate function"
              li
                label
                  input(type="checkbox", name="stripWordsNotInLexicon", checked=settings.stripWordsNotInLexicon)
                  = " Strip words that could not be tagged"
              li
                label
                  input(type="checkbox", name="applyUnification", checked=settings.applyUnification)
                  = " Apply unification"
          br
          input(type='submit', name='Parse', value='Parse')
