extends layout
block content
  div.form-style-1
    form(method="post")
      h2 Type lattice settings
      fieldset
        label
          input(type="checkbox", name="applyAppropriateFunction", checked=settings.applyAppropriateFunction)
          = " Apply appropriate function"
      label(for="currentLexiconFile") Type lattice
      fieldset
        label(for="currentLexiconFile") Current type lattice
        if (settings.typeLatticeFile)
          input(type="text", id="currentTypeLatticeFile", value=settings.typeLatticeFile, readonly)
        else
          input(type="text", id="currentTypeLatticeFile", value="no file selected", readonly)
        label(for="typeLatticeFile") Select type lattice
        input(type="file", id="typeLatticeFile", name="typeLatticeFile")
        input(type='submit', name='editTypeLattice', value='Edit type lattice')
      br
      input(type='submit', name='saveTypeLatticeSettings', value='Apply settings',
      formaction="/save_type_lattice_settings", formenctype="multipart/form-data")
      h2 Input type
      fieldset
        input(type="text", name="typeToShow", value=results.type)
      br
      input(type='submit', name='typeToShow', value='Show type', formaction="/show_type")
      if results.typePrettyPrint
        h2 Type properties
        textarea(cols="80", rows="20", readonly)
          !{results.typePrettyPrint}
      h2 Type lattice
      textarea(cols="80", rows="40", readonly)
        !{results.typeLatticePrettyPrint}